@charset "utf-8"; 
/* CSS Document */

* {
    box-sizing: border-box;
}

.container{
	width:960px;
	margin:0 auto;
}
.container-fluid{
	width:100%;
	margin:0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-cover {
    background-size: cover;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.slicknav_menu {
	display:none;
}

@media only screen and (max-width: 960px) {
   .container{
		width:768px;
		margin:0 auto;
	}
}
	
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	
	.container{
		width:768px;
		margin:0 auto;
	}
	
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}